commands:
  01_create_data_dir:
    command: "mkdir -p /var/data/uploads"
    test: "[ ! -d /var/data/uploads ]"
  02_set_permissions:
    command: "chmod -R 777 /var/data"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_PATH: /var/data/smartroad.db
    UPLOAD_DIR: /var/data/uploads
